body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 603px;
}


/* The Settings (background) */
.settings {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
 
  min-width:340px;
}

/* Settings Content */
.settings-content {
  background-color: var(--bg_light);
  margin: auto;
  padding: 1.3em;
  border: 0.06em solid #888;
  width: 30%;                    /*----------This changes Settings window size*/
  /* Vertical Align */
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.settings-content h1 {
  color: var(--font_color3);
}

/* The Close Button */
.close {
  color:var(--font_color3);
  float: right;
  font-size: 2em;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #aaaaaa;
  text-decoration: none;
  cursor: pointer;
}

.settings .card {
    width: auto; 
    background: #fff;
    border-radius: 0.12em;
    display: block;
    height: auto;
    margin: 1rem;
    position: relative;
    padding: 0;
    box-shadow: 0 0.6em 1.2em rgba(0,0,0,0.19), 0 0.4em 0.4em rgba(0,0,0,0.23);
}


.settings .card h3 {
  text-align: left;
  padding-left: 5%;
  padding-top: 5%;
  margin: 0;
  color: var(--font_color3);
}




@media screen and (max-width: 1170px) {
  .settings-content {
    width: 50%;
   
  }
}

@media screen and (max-width: 643px) {
  .settings-content {
    width: 90%;
   
  }
}

@media screen and (max-heigth: 497px) {
  .settings-content {
    width: 90%;
   
  }
}